/*--Palette #1 Soft
#2F204F - Russian Violet
#FFB370 - Rajah
#043AA4 - Egyptian Blue
#86E4A5 - Medium Aquamarine
#70DBD8 - Medium Turquoise
#191308 - Black Chocolate
#3E9359 - Sea Green
#B27092 - Pearly Purple
#FFFAF0 - Floral White
#95BFA2 - Elton Blue
*/

/*  Global Styles
---------------------------------*/
body {
  color: #191308;
  background-color: #86E4A5;
  background-image: url(https://rule34.paheal.net/themes/rule34v2/bg.png);
  font-family: 'Roboto Slab', serif;
}

img {
  max-width: 300px;
}

body a:link{
  color: #043AA4;
  font-weight: 700;
}
body a:visited{
  color: #B27092;
  font-weight: 700;
}
body a:hover {
  background: gray;
  color: #043AA4;
}
body a:active {
  color: white;
}

body main {
  position: absolute;
  margin: 0;
  left: 20%;
  overflow: hidden;
}

main>*:not(:last-child) {
  margin: 0 auto;
  padding-left:20px;
  padding-right: 20px;
  width: 85%;
}

h1 {
  text-transform: uppercase;
}
h2, h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
h3 {
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
}


.sidebar {
    height:100%;
    width:20%;
    background-color:#3E9359;
    border-right: 2px solid #191308;
    position: fixed;
    float:left;
    top: 0px;
    left: 0px;
    z-index:1;
    overflow:auto;
  }

  .sidebar li {
    margin-bottom: 0px;
    list-style-type: none;
  }

  .bar-block .bar-item {
    width:100%;
    display:block;
    padding-left: 0%;
    white-space:normal;
    outline:0
  }
@media screen and (min-width:600px) {
    .button {
      background-color: #3E9359;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      width: 95%;
      float: left;
      overflow: hidden;
  }
}

@media screen and (max-width:599px) {
    .button {
      background-color: #3E9359;
      border: none;
      color: white;
      padding: 15px 10px;
      text-align: left;
      text-decoration: none;
      display: inline-block;
      font-size: 11px;
      width: 95%;
      float: left;
      overflow: hidden;
  }
}


  li .button {
    transition-duration: 0.4s;
    font-weight: bolder;
    border-bottom: 2px solid #191308;
    width: 100%;
    color: #FFFAF0;
    /*border-radius: 15px;*/
  }

  li .button:hover {
    background-color: #FFFAF0;
    color: Black;
  }

  .wrap {
    font-size: 0px;
  }

  .content-wrap {
    margin: 0 auto;
    max-width: 700px;
  }

/*  Profile
---------------------------------*/

header {
  background-color: #2F204F;
  border-radius: 20px 20px 0 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: seashell;
  left: 0px;
}

/*  Projects
---------------------------------*/

.projects {
  background-color: #70DBD8;
  padding: 5px 15px;
  left: 0px;
  border-radius: 0 0 20px 20px;
}

.projects .button {
  background: #043AA4;
  color: white;
  padding: 8px;
  border-radius: 5px;
  width: 40%;
}

.projects .button:hover{
  background:rgba(4, 58, 164,80%);
}

.projects .button:active{
  background:rgba(4, 58, 164,20%);
  color:rgba(90%,90%,90%,100%);
}

.project-item {
  overflow: hidden;
  border-bottom: 2px ridge #191308;
  padding: 20px 10px;
}



.project-item:last-child {
  border-bottom: none;
}

.project-item img {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

.project-item .button {
  clear: left;
  margin-top: 20px;
}

.project-item h3 {
  margin-top: 0;
}

.project-item p:nth-of-type(2) {
  clear: both;
}



/*  Work Experience
---------------------------------*/
.job-item {
  background: #95BFA2; /*Elton Blue*/
}

@media screen and (min-width:600px) {
  .job-item {
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 20px;
    border-top: 1px solid #191308;
  }
  .job-wrap {
    border-right: 1px solid #191308;
    border-bottom: 1px solid #191308;
  }

  .job-details {
    border-left: 1px solid #191308;
    border-right: 1px solid #191308;
  }
}

.job-details {
  background:#3E9359;
  padding: 5px 20px;
}

.job-summary {
  padding: 5px 10px;
  background: inheret;
}

.job-details h3 {
  margin-bottom: 6px;
}
.job-details h3 ~ p {
  font-style: italic;
  margin: 0;
}

/*  Info
---------------------------------*/
footer  {
  background: #FFB370;
  padding: 1px 1%;
  width: inheret;
  text-align: center;
}

.contacts-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form {
  margin: 0 auto;
  padding: 15px 0;
  width:30%;
  background-color: #fca1a1;
  border-radius: 20px;
  border: 2px solid black;
}

@media screen and (max-width:599px) {
  .form {
    display: none;
  }
}

.form button, .form textarea, .form input {
  background-color: #dadad3;
  border: 2px solid rgba(0, 0, 0, 0.6);
}

.form button {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

form {
  width: 85%;
  display:grid;
  margin: 0 auto;
  font-weight: bold;
}

form label > * {
  width:90%;
  margin: 5px auto;
}

form textarea {
  height: 65px;
}

.contacts-list a {
  padding: 0 10px;
  display: inline-block;
  border-radius: 5px;
}

.copyright {

}
